
/*
#websiteList {
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    padding-bottom:20px;
}
*/

body {
    padding-top: 20px;
}

#blockPatterns {
    height: 270px;
    width: 300px;
    margin-right: 10px;
}
/*
select, input {
    border: 1px solid #cecece;
    margin: 7px;
}
*/

/*
h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

h4 {
    margin: 2px;
}
*/
h5 {
    color: #ff6347;
}

/*
p {
    margin: 5px;
    margin-bottom: 15px;
}

.cycleLabel {
    font-size: 15px;
}

.cycleInput {
    margin: 10px;
}

*/

#workDisplay, #restDisplay, #longRestDisplay{
    font-weight:bold;
}

/*
button {
    border: 1px solid #004e83;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #3d92ca;
    color: #ffffff;
    border-radius: 4px;
}

button:hover {
    background-color: #0061a1;
}
*/

.length-label {
    width: 187px;
    text-align: right;
}

#removeSite {
    vertical-align: top;
}

