#websiteList {
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    padding-bottom:20px;
}

select, input {
    border: 1px solid #cecece;
    margin: 5px;
}

.cycleInput {
    margin: 10px;
}