#websiteList {
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    padding-bottom:20px;
}

select, input {
    border: 1px solid #cecece;
    margin: 7px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

h4 {
    margin: 2px;
}

h5 {
    margin: 0px;
    font-size: 15px;
    color: #ff6347;
}

p {
    margin: 5px;
    margin-bottom: 15px;
}

.cycleLabel {
    font-size: 15px;
}

.cycleInput {
    margin: 10px;
}

.minuteDisplay {
    font-size: 20px;
    margin: 5px;
}

button {
    border: 1px solid #004e83;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #3d92ca;
    color: #ffffff;
    border-radius: 4px;
}

button:hover {
    background-color: #0061a1;
}