
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----------------------------------------------*/

html, body {
    
    width: 250px;
    overflow: hidden;
}

#settings {
    width: 15px;
    text-align: left;
    margin: 5px 10px;
    font-size: 25px;
    color: #3d92ca;
    cursor: pointer;
}

#settings:hover {
    color: #0061a1;
}

 /* -- START/STOP BUTTONS -- */
.button {
    margin: 20px 65px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    background-color: #3d92ca;
    color: #ffffff;
    border-radius: 5px;
}

 
#stop {
    display: none;
}

.button:hover {
    background-color: #0061a1;
}


/* -- TOMATO TIMER DISPLAY -- */
.top {
    background-color: #ffefbb;
    color: #ffffff;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    border:solid 1px #ffe692;
    /*box-shadow: 0 10px 6px -6px #777;*/
}

#tomato-container {
    display: flex;
    width: 90%;
    margin: 10px;
    justify-content: center;
}

#tomato {
    border-radius: 50%;
    background: #ff6347;
    height: 80px;
    width: 95px;
    box-shadow: 0 5px 5px 0 #777;
}
  
#leaves {
    background: rgb(159, 212, 89);
    height:16px;
    width:16px;
    border-radius:16px 0 16px 0;
    position: absolute;
    transform: rotateZ(135deg);
    top: 51px;
    z-index: 1;
    left: 113px;
}
  
#leaves::before {
  content: "";
  background: rgb(159, 212, 89);
    height:16px;
  width:16px;
  border-radius:16px 0 16px 0;
  position: absolute;
  transform: rotateZ(75deg);
  top: 10px;
  left: 0px;
  z-index: 1;
}

#leaves::after {
  content: "";
  background: rgb(159, 212, 89); 
    height:16px;
  width:16px;
  border-radius:16px 0 16px 0;
  position: absolute;
  transform: rotateZ(105deg);
  bottom: 2px;
  right: 12px;
  z-index: 1;
}

#timer-display {
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 28px 18px;
    cursor: default;
}

#timer-display::after {
    content: "\A Time left";
    font-size: 10px;
    white-space: pre;
}