html, body {
    width: 200px;
    overflow: hidden;
}

.button {
    margin: 5% auto;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #f3efc9
}

.button:hover {
    background-color: #3fb666
}

#timer-display {
    font-size: 25px;
    text-align: center;
    margin: 10% auto;
    padding: 5px;
    cursor: default;
    width: 100%;
}

#timer-display::after {
    content: "\A Mins left";
    font-size: 10px;
    white-space: pre;
}
